.open-sans-fira{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }



/* banner section */
.new-bd{  
    border-radius: 24px;
    background: rgb(198, 228, 214);
    background-repeat: no-repeat;
    width: 1250px;
    height: 500px;
    display: flex;
    padding: 80px;
    margin: auto;
    justify-content: space-between;
}
.new-h{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
}
.new-p{
    color: rgb(14, 14, 14);
    font-weight: 700;
    font-size: 52px;
    width: 622px;
    height: 201px;
    margin: 16px 0px;
}
.new-btn{
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 15px;
    color: rgb(255, 255, 255);
    border: rgb(0, 106, 80);
    font-size: 15 px;
}
.new-img{
    width: 550px;
    height: 450px;
}

 /* vision */

 .vision-section{
    margin-left: 245px;
 }

 .vision-div{
    margin-right: 245px;
 }
 .vision-info{
    display: flex;
    gap: 25px;
 }

 .vision-h{
    font-size: 40px;
    font-weight: 700;
 }
 .info-title{
    font-size: 20px;
    font-weight: 700;
 }

/* background color */

 .info-digital{
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 25px;
    height: 260px;
    width: 400px;
 }
 .info-green{
    border-radius: 16px;
    background: rgb(198, 228, 214);
    padding: 25px;
    height: 260px;
    width: 400px;
 }
 .info-modern{
    border-radius: 16px;
    background: rgb(247, 235, 207);
    padding: 25px;
    height: 260px;
    width: 400px;
 }

 /* buttton color */

 .vision-blue{
    border-radius: 7px; 
    background: rgb(84, 144, 245);
    border: rgb(84, 144, 245) ;
    font-weight: 600;
    padding: 10px;
    color: rgb(255, 255, 255);
 }
 .vision-green{
    font-weight: 600;
    border-radius: 7px;
    background: rgb(9, 161, 92);
    border: rgb(9, 161, 92);
    color: rgb(255, 255, 255);
    padding: 10px;
 }
.vision-yollow{
    padding: 10px;
    font-weight: 600;
    border-radius: 7px;
    background:rgb(255, 194, 57);
    border:rgb(255, 194, 57) ;
    color: rgb(255, 255, 255);
}


/* recent new */


.recent{
    margin-left: 245px;
    margin-right: 245px;
    margin-bottom: 25px;
}

.recent-parents{
    display: flex;
    gap: 20px;
    background-color: rgb(242, 242, 242);
    padding: 25px;
    border-radius: 25px;
}

.recent-div{
    
}
.recent-h{
    font-size: 40px;
    font-weight: 700;
}
  .recent-p{
    color:rgba(14, 14, 14, 0.7);  
  }

  .recent-img{
    border-radius: 25px;
  }
.recent-head{
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
}
.recent-btn{
    background-color: rgb(0, 106, 80);
    font-size: 20px;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

/* Donate section */


