.open-sans-fira{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


/* banner section */


.new-bd{  
    border-radius: 24px;
    background: rgb(198, 228, 214);
    background-repeat: no-repeat;
    width: 1500px;
    height: 450px;
    display: flex;
    justify-content: space-between;
    padding: 80px;
    margin: auto;
}
.new-h{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
}
.new-p{
    color: rgb(14, 14, 14);
    font-weight: 700;
    font-size: 52px;
    width: 622px;
    height: 201px;
    margin: 16px 0px;
}
.new-btn{
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 15px;
    color: rgb(255, 255, 255);
    border: rgb(0, 106, 80);
    font-size: 15 px;
}
.new-img{
    width: 550px;
    height: 450px;
}

